body{
	font-family: 'Inter', sans-serif;
	background-color: #F3F5FC; 
	padding: 20px 0;

	
	
}
header {
   
}
.tituloPrincipal{
	color: #0A3871;
}
	
main label{
	display: block;
    font-size: 20px;
    margin: 0 0 10px;
    align-content: center;

}
	

.entradaTexto{
	color: #0A3871;
	font-size: 32px;
}
.textoEntrante{
	background: #EFF1FA;
    border-color : #0A3871;
    width: 50%;


}



#mensaje{
	border: 2px solid #EFF1FA;
	height: 500px;
	box-sizing: border-box;
	



}
#botonEncriptar{
	width: 25%;
	height: 4%;
    padding: 3% 0;
    font-size: 18px;
    color: #FFFFFF;
    background: #0A3871;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-justify: center;

}
#botonDesencriptar{
	width: 25%;
	height: 5%;
    padding: 3% 0;
    font-size: 18px;
    color: #0A3871;
    background: #EFF1FA;
    border-color : #0A3871;
    borborder-radius: 5px;
    cursor: pointer;
    text-justify: center;
}

