.area-texto{
    display: flex;
    background: white;
}
.mensaje-entrada{   
    color: #0A3871;
    text-transform: lowercase;
    border: none;
        
}

::placeholder {color: #0A3871}
    .text-area:focus {
        outline: none;
    }
    
.mensaje-salida{
    background-image: url(/imagenes/recurso3.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #0A3871;
    border: none; 
           
    }
.mensaje-salida:focus {
    outline: none;
    }
